/* line 2, ../sass/components/neat/grid/_grid.scss */
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 3, ../sass/tabs.sass */
div.tabs {
  margin: 0 0 5px 0;
  font-family: "Roboto";
  font-size: 0.9em;
}

/* line 8, ../sass/tabs.sass */
ul.primary {
  margin: 0;
  padding: 0;
  border-width: 0;
  list-style: none;
  white-space: nowrap;
  line-height: normal;
  border-radius: 5px 5px 5px 5px;
  -moz-border-radius: 5px 5px 5px 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  -webkit-border-bottom-left-radius: 5px;
  overflow: hidden;
  display: inline-block;
}
/* line 18, ../sass/tabs.sass */
ul.primary li {
  float: left;
  margin: 0;
  padding: 0;
}
/* line 23, ../sass/tabs.sass */
ul.primary li.active a, ul.primary li.active a:hover {
  border-width: 0;
  color: white;
  background: #2aa9df;
}
/* line 27, ../sass/tabs.sass */
ul.primary li a {
  display: block;
  margin: 0;
  padding: 10px 20px;
  border-width: 0;
  text-decoration: none;
  color: black;
  background-color: #eeeeee;
}
/* line 35, ../sass/tabs.sass */
ul.primary li a:hover {
  border-width: 0;
  background-color: #e1e1e1;
}
/* line 38, ../sass/tabs.sass */
ul.primary li a .tab {
  display: block;
  margin: 0;
  border-width: 0;
  line-height: 20px;
}

/* line 44, ../sass/tabs.sass */
ul.secondary {
  margin: 0;
  padding: 0 0 0 5px;
  border-bottom: 1px solid silver;
  list-style: none;
  white-space: nowrap;
}
/* line 50, ../sass/tabs.sass */
ul.secondary li {
  float: left;
  margin: 0 5px 0 0;
  padding: 5px 0;
  border-right: none;
}
/* line 55, ../sass/tabs.sass */
ul.secondary a {
  display: block;
  height: 24px;
  margin: 0;
  padding: 0;
  border: 1px solid silver;
  text-decoration: none;
  color: #777777;
}
/* line 63, ../sass/tabs.sass */
ul.secondary a .active, ul.secondary a .active:hover {
  border: 1px solid silver;
  color: black;
}
/* line 67, ../sass/tabs.sass */
ul.secondary a .tab {
  display: block;
  height: 18px;
  margin: 0;
  padding: 3px 8px;
  line-height: 18px;
}
